body {
    background-image: url(../../public/images/fond.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.texte{
    font-weight: 700;
    text-decoration: underline;
}

.logo{
    width:130px;
    margin-right: 70px;
}

.text-nav{
    font-size:18px;
    font-weight:700;

}
